*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

h1{
    font-weight:400;
    font-size:3vmin;
    margin-bottom:10px;
}
.btn{
    color:whitesmoke;
    text-transform:uppercase;
}

.login-container{
    width:30%;
    height:auto;
    margin:auto;
    box-shadow: 5px 10px 5px 10px lightblue;
    padding:20px;
}

@media(max-width:800px){
    .login-container{
        width:100%;
    }
}
